.book-details {
  padding: 60px 0px;
}

.book-details .row {
  display: flex;
  flex-direction: column;
  gap: 60px 0px;
  width: 1200px;
  margin: auto auto;
}

/* book header */

.row .book-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 50px;
}

/* book footer */

.row .book-footer {
  width: 100%;
}
